@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{   background-color: #fafafa;
    font-family: 'Roboto Slab';}
.navveg{ 
      background-color: #ffffff;
    margin-bottom: 75px;}
#header{
    position:relative;
    background-color: #25B33f;

    background-image: url(../images/bg.png);
    width: auto;
}

.heads{
    
    color:#74533e;
    margin-top: 183px;
    margin-bottom: 75px;
}
.br0 {
    border-radius: 0px !important;
    width: 160px;
    height: 55px;
    font-family: 'Roboto Slab';
    font-size:15px;
    margin-bottom: 300px;
}
.arbuz{ 
    margin-block-start: 20px;
    white-space: nowrap;
    display: block;
    margin-bottom: 30px;
}
.offercont__title {
    font-size: 64px;
    color: #324950;
    margin-bottom: 10px;
}
.offercont__text{
    font-size: 20px;
    color: #324950;

}
.offercont__star{
    font-size: 16px;
    color:#57984C;
    margin-bottom: 10px;
}
#main{
    position:static;
    background-image: url(../images/Union.png);

}
#amain{
    background-color: #ededed;
}
.size{
font-size: 60px;

}
.vegetable{
    display: block;
    padding-left: 80px;

}
.vegtext{
font-size: 24px;
text-align: center;
color:#57984C;
}
.vtext{margin-block-end: 100px;
font-size: 18px;
text-align: center;
}
.Rec5{
background: #2D3F45;
}
.silk{
color:#ffffff;
}
#Text1{top:20px;
    color:#ffffff;
padding-bottom: 20px;}
#sil{padding-top: 20px;}
#foot{
    color:#B9B9B9;
    text-align: center;
}
.footer{
    height:60px ;
    background-color:#324950;
}
a{color:black}
#header2{background-color: #ffffff;
}

figure img { 
width: 100%; /* Ширина изображений */
margin-bottom: 20px;
}
.toffercont__title {
    font-size: 44px;
    color: #324950;
    margin-bottom: 40px;
}
.toffercont__text{
    font-size: 17px;
    color: #324950;
    margin-bottom: 20px;
}
.toffercont__star{
    font-size: 16px;
    color:#57984C;
    margin-bottom: 40px;
}
#abg{

    background: #FFFAFA;
    margin-bottom: 26px;
}
.about{
    margin-block-start: 50px;
    font-weight: 700;
    font-size:20px;
}
.atext{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 50px;
}
.tmain{
    margin-bottom: 23px;
}
#pic{
    float: left; /* Обтекание картинки текстом */
}
.ts{
    margin-left: 26px;
}
.ts2{
    margin-left: 26px;
    margin-block-start: -30px;
}
.bf{ overflow: hidden; /* Прячем всё за пределами */
height: 252px;
width: 350px;}
#bgv{margin-block-start: -14px;
    width: 350px;
    height:69px;
    background-color: #ffffff;
}
.vg{
    margin-block-start: 40px;
}
.tbody{
    background-color:#FCF0F0;
}
.nav
{
    display:flex;
    position: relative;
    width:70%;
}

.nav form
{
    display: block;
    position: absolute;
    right:0;
    top:0;
}

.nav nav
{
    position: absolute;
    right:0;
    bottom: 10px;
}

nav a
{
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-decoration:none;
    color: #324950;
    margin-right: 10px;
    transition: color .1s linear;
}

.nav_item:hover
{
    text-decoration: none;
    color:#6592a0;
}

.nav_item:last-child
{
    margin-right: 0;
}

.searchinput
{
position:relative;
width:350px;
    height: 29px;
    color:black;
    border-bottom: 1px solid #324950;
}

.searchinput input
{
    width:330px;
    font-size: 16px;
    background:transparent;
    outline:0;
    border:0;
}

.searchinput img
{
    position:absolute;
    right:0;
    top:0;
}
#pc{
    margin-bottom: 10px;
}
.vegetext{
    color: #57984c;
    font-size: 20px;
}
.qtext{color: #57984c;
    font-size: 16px;

} 
#header3{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    background-color: #ffffff;
    margin-bottom: 18px;
}
.buk{
    font-size: 14px;
    color:#57984C;
}
.h1t{
    font-size: 54px;
    font-weight: bold;
    color:#324950;
}
.bgren{color:#57984C;}
#picb{margin-block-start: 40px;
    float: left;}
.ttext{margin-inline-start:110px ;
    margin-block-start: 40px;
    color: #CF2333;
    margin-bottom: 40px;
font-weight: bold;
font-size: 30px;}
.char{color: #57984C;
font-weight: bold;
font-size:20px;}
#pc1{margin-block-start: -20px;
margin-bottom:24px;}
.btn-rounded {
    float:right;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.to{background-image: url(../images/Unionto.png);}